.Counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: thin solid #AAA;
  padding: 0.5em;
}

.Header {
  font-size: 1.5em;
  font-weight: bold;
}

.Value {
  font-size: 3em;
  margin-bottom: 1rem;
}

.AddAmount {
  display: flex;
  gap: 0.5em;
}

.ButtonGroup {
  display: flex;
  gap: 0.33em;
  padding: 0.33em;
}