.Todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: thin solid #AAA;
  padding: 0.5em;
  gap: 0.5em;
}

.Todo-List {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.5em;
  flex: 1;
}

.Todo-Add {
  display: flex;
  gap: 0.5em;
}

.Todo-Text {
  display: flex;
  flex: 1;
}

.Todo-Item {
  display: flex;
  border: thin solid grey;
  padding: 0.25em;
  gap: 0.5em;
  align-items: center;
  flex: 1;
}

.Todo-Item > div {
  display: flex;
  flex: 1;
}

.RemoveButton {
  cursor: pointer;
}

.RemoveButton:after {
  content: "×";
}